*.sdf
*.suo
*.user
*.opensdf
ipch
/bin/fanndoubled.dll
/bin/fanndoubled.lib
/bin/fannfixedd.dll
/bin/fannfixedd.lib
/bin/fannfloatd.dll
/bin/fannfloatd.lib
/bin/simple_train_doubled.exe
/bin/simple_train_floatd.exe
/bin/xor_test_fixedd.exe
/bin/xor_test_floatd.exe
/bin/xor_traind.exe
Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
*~
/bin/cascade_traind.exe
/bin/momentumsd.exe
/bin/mushroomd.exe
/bin/robotd.exe
/bin/scaling_testd.exe
/bin/scaling_traind.exe
/bin/steepness_traind.exe
/bin/xor_cpp_sampled.exe
*.sln
*.suo
*.filters
*.vcxproj
VS2010/CascadeTrain/obj/
VS2010/CleanUpForSwig/obj/
VS2010/FANNCSharp.Double/obj/
VS2010/FANNCSharp.Fixed/obj/
VS2010/FANNCSharp.Float/obj/
VS2010/FANNCSharp/obj/
VS2010/Momentums/obj/
VS2010/MomentumsCallback/obj/
VS2010/Mushroom/obj/
VS2010/MushroomSpeedTest/obj/
VS2010/ParallelTrain/obj/
VS2010/Robot/obj/
VS2010/ScalingTest/obj/
VS2010/ScalingTrain/obj/
VS2010/SimpleTrain/obj/
VS2010/SteepnessTrain/obj/
VS2010/XorSample/obj/
VS2010/XorTest/obj/
VS2010/XorTrain/obj/
VS2010/fanndouble/Win32/
VS2010/fanndouble/x64/
VS2010/fannfixed/Win32/
VS2010/fannfixed/x64/
VS2010/fannfloat/Win32/
VS2010/fannfloat/x64/

